<div class="note" data-id="${note.id}">
	<span class="ui-icon ui-icon-grip-dotted-vertical handle"></span>
	<span class="title">${note.name}</span>
	<span class="iconbar">
                #{if section=="edit"}
                    <a href="@{NoteManager.index()}#${note.id}" class="ui-icon ui-icon-folder-collapsed" title="Správa poznámky"></a>
                #{/if}
		#{else}
                    <a href="@{Edit.index()}#${note.id}" class="ui-icon ui-icon-pencil" title="Editovať poznámku"></a>
                #{/else}
		<span class="ui-icon ui-icon-link" title="Zdieľať poznámku"></span>
		<span class="ui-icon ui-icon-close" title="Zmazať poznámku"></span>
	</span>
</div>
