/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 0.8em;
    line-height: 1.4;
}

::-moz-selection {
    background: #81ae40;
    color: white;
    text-shadow: none;
}

::selection {
    background: #81ae40;
    color: white;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body,
button,
input,
select,
textarea {
	height:100%;
	font-family: "Lucida Sans Unicode","Lucida Grande","DejaVu Sans",Verdana,Arial,sans-serif !important;
}

body {
    background: #fafafa url(/public/images/bg-noise.png) left top;
    min-height:100%;
    height:100%;
}

#all-wrapper {
    background: #fafafa url(/public/images/bg-noise.png) left top;
    height:100%;
    position:relative;
    margin:0px;
    padding: 0px;
}

html,
#all-wrapper {
	min-width: 980px;
    min-height: 600px;
}

noscript {
    padding:1em;
    width:100%;
    display:block;
    text-align:center;
}

h1, h2, h3 {
    font-weight:normal;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: inherit;
    font-size: inherit;
}
a img{
    border:none;
}
a:hover{
    text-decoration:none;
}

*:focus {
    outline: none;
}

.small {
    font-size:0.85em;
}

p:first-child {
    margin-top:0;
}

header,
footer {
	color: #fafafa;
}
header,
#header-bar,
#header-push {
    height: 80px;
    position:relative;
}

#header-bar {
    margin-left: 160px;
    height:100%;
}
#header-bar .float-left, #header-bar nav {
    width:190px;
}
#header-bar .float-left {
    float:left;
    z-index:100;

}
#header-bar nav {
    position: relative;
    top:24px;
    height:30px;
    text-align: center;
}

#header-bar .float-left a.ui-state-default,
#header-bar .float-left button.ui-state-default {
    background-image: url(/public/images/bg-noise-dark.png);
    border: 1px solid transparent;
    font-variant: small-caps;
    font-size: 1.1em;
}
#header-bar .float-left a.ui-state-hover,
#header-bar .float-left button.ui-state-hover {
    background-image: url(/public/images/bg-noise-blue.png);
    border: 1px solid #326389;
}
#header-bar .float-left a.ui-state-active,
#header-bar .float-left a.ui-state-focus,
#header-bar .float-left button.ui-state-active,
#header-bar .float-left button.ui-state-focus {
    background-image: url(/public/images/bg-noise-green-light.png);
    border: 1px solid #638631;
}
#header-bar .float-left a.ui-state-disabled,
#header-bar .float-left button.ui-state-disabled {
    opacity: 1;
}

#header-bar form {
    margin-left:195px;
    position: relative;
    width: 300px;
    top:-6px;
    font-size: .9em;
}
#header-bar form input[type="search"]{
    border: 1px solid #757575;
    background: transparent url(/public/images/bg-lighter-15.png);
    padding:5px;
    box-shadow: 0px 0px 2px #2e2e2e inset;
    width:200px;
    color: #ececec;
 }
 #header-bar form input[type="search"]:hover,
 #header-bar form input[type="search"]:focus {
    border-color: #326389;
 }


#header-bar #user {
    height:100%;
    text-align:right;
    position:relative;
    right:0px;
    top:0px;
    line-height:1.5em;
    margin-left:600px;
}
#header-bar > #user > div {
    position:absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    height:50%;
    margin:auto;
        display:table-cell;
        vertical-align:middle;
}
#user-account {
    position:relative;
    text-align:right;
}

#user-account #header-menu {
    padding:5px;
    position:relative;
    display:inline-block;
    right:0px;
    width: p150x;
    background-image: url(/public/images/bg-noise-dark.png);
    box-shadow: 0px 0px 4px #555555;
    z-index:10;
}
#user-account #header-menu.visuallyhidden {
    box-shadow: none;
}
#user-account #header-menu a {
    display: block;
    margin:5px;
}
#user-account #user-name {
    font-size: 1em;
}
#user-account #user-email {
    color: #ececec;
    font-size:0.9em;
}

#user-account div:first-child {
    cursor: pointer;
}


.bottom-clear {
    clear: both;
    padding-bottom:50px;
}
footer,
#footer-push {
	height:30px;
}
footer{
    width:100%;
    position:absolute;
    bottom:0px;
    text-align: center;
    font-size: 0.8em;
    line-height:0.9em;
}
#section-login footer {
    height:100px;
}

.noise-dark {
    background: #555555 url(/public/images/bg-noise-dark.png) left top;
}

.noise-light {
    background: #757575 url(/public/images/bg-noise.png) left top;
}

.noise-green {
    background: #638631 url(/public/images/bg-noise-green.png) left top;
}

.seam-header {
    background: url(/public/images/seam-header.png) left top repeat-x;
    width:100%;
    height:3px;
    z-index:10100;
    position:absolute;
    box-shadow:0px 0px 3px #2e2e2e;
}

.seam-top {
    background: url(/public/images/seam-top.png) left top repeat-x;
    height: 3px;
}

.seam-bottom {
    background: url(/public/images/seam-bottom.png) left top repeat-x;
    height: 12px;
}

#logo {
    position:absolute;
    left:50px;
    top:15px;
}

#logo-noteMe {
	position: absolute;
	top: -5px;
	left: 5px;
	transition: all 0.5s ease-in-out;
	z-index: 10;
}
#logo-arc {
    position:absolute;
    top:65px;
}
#logo-circles {
    position: absolute;
    top:70px;
    left:40px;
}

.page-side-paddings {
	padding-left: 50px;
	padding-right: 50px;
}
.page-side-margins {
	margin-left: 50px;
	margin-right: 50px;
}
.page-side-margins-reverse {
	margin-left: -50px;
	margin-right: -50px;	
}

.content {
  	margin-top:83px;
  	margin-bottom:30px;
}
.section-admin .content {
    overflow:auto;
}

 /* Login page */
#section-login .content {
    margin: 75px auto 0px auto;
    padding-bottom: 100px;
    width: 450px;
    height: 300px;
}

#section-login form {
	margin-left: 205px;
}
#section-login form input {
    width: 100%;
}
#section-login form input[type="submit"] {
    width: auto;
}

#section-login label {
    font-variant: small-caps;
    display: block;
}

#section-login h1 {
    text-align: left !important;
}

#section-login .content img {
    float: left;
    position: relative;
    left: 0;
    top: 0;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="search"]{
    border: 1px solid #555555;
    margin-bottom:15px;
    padding:4px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px #757575 inset;
}

input[type="email"].ui-state-highlight,
input[type="password"].ui-state-highlight,
input[type="text"].ui-state-highlight,
input[type="search"].ui-state-highlight {
    background: #ffd43d url(noteMe-dark/images/ui-bg_fine-grain_20_ffd43d_60x60.png);
}

/* Page Columns */
.fill {
    position:absolute;
    left:0; top: 0; right: 0; bottom: 0;
}
#main {
    margin-left:160px;
}

.content button,
.content a.ui-button {
    font-size: 0.9em;
}
.content a.ui-button {
    color: #fafafa;
}
.sidebar-wrapper {
    width: 145px;
    margin: 50px 10px 0px 0px;
    overflow: auto;
    border-image: url(/public/images/dashed-border.png) 1 1 1 1 repeat;
    border-top: 1px dashed #555555;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
}
.column-wrapper {
    overflow: hidden;
}
#left-column-wrapper {
    float: left;
    width:34%;
    margin-top: 48px;
    border-image: url(/public/images/dashed-border.png) 1 1 1 1 repeat;
    border-top: 1px dashed #555555;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;

}
#left-column-scroll{
    height:100%;
}
.left-column {
    margin: 0 5px 0 5px;

}
#right-column-wrapper {
    margin-left: 36%;
    height:100%;
}
.right-column {
    width: 100%;
    height:100%;
}

#toolbar {
    position:absolute;
    margin-left:160px;
    margin-top: 10px;
    z-index: 5;
}

#tag-sidebar {

}

.ui-draggable {
    cursor: move;	
}

.tag, .new-tag {
    margin:5px;
    padding: 2px;
    background: url(/public/images/bg-darker-15.png);
    color: #757575;
    font-size:0.9em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position:relative;
    /*min-width: 128px;*/
    overflow: hidden;

}

.new-tag.closed {
	width:16px;
	border-radius: 20px;
	cursor: pointer;
	overflow: visible;
}
.new-tag.closed:after {
	position:absolute;
	width:90px;
	left:25px;
	top:2px;
	content:"Nová značka";
}
.new-tag.closed:hover::after {
	color: black;
}
.tag .title, .new-tag .title {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top:1px;
    padding: 0px 12px 0px 16px;
    display: inline-block;
    
}
.new-tag .title {
    top:0;
    display:inline;
	
}
#tag-sidebar .tag .title {
    white-space: nowrap;
    width: 96px;	
}
.tag .title {
    cursor: pointer;
}
.tag .ui-icon:hover {
    background-image: url(/public/stylesheets/noteMe-dark/images/ui-icons_222222_256x240.png);
}
#tag-sidebar .tag .ui-icon-tag {
    cursor: move !important;
}

#notetags .tag .title { 
    max-width:200px;
}

#about .tag {
    float:left;
}
.tag:hover {
    color: white;
}

.tag.ui-draggable-dragging {
    background: url(/public/images/bg-noise-dark.png);
    color: white;
    cursor: move !important;
}
.tag.ui-draggable-dragging .title {
    max-width:200px;
    max-height: 50px;
    white-space: normal;
    padding-right: 0px;
}
.tag.ui-state-disabled {
    opacity: 1.0;
}
.tag .ui-icon, .new-tag .ui-icon {
    background-image: url(/public/stylesheets/noteMe-dark/images/ui-icons_ffffff_256x240.png);
    margin-top:-8px;
    position:absolute;
    top:50%;
}
.tag .ui-button-icon-secondary {
	right:0;
}

.tag.ui-draggable-dragging .ui-icon-close {
    display: none;
}
.tag .ui-icon-close {
    cursor: pointer !important;
}

.new-tag input {
	font-size:inherit;	
	margin: 1px;
	padding:1px;
	width:95px;
	display:none;
}

.notebook {
    background-image: url(/public/images/bg-noise.png);
    margin-bottom:10px;
    border-left: 2px solid transparent;
    cursor: default;
}
.notebook:hover {
    border-left: 2px solid #638631;
}
.notebook:hover h2 {
    color: #638631;
}

.notebook h2 .title[contenteditable="true"],
.tag .title[contenteditable="true"],
.note .title[contenteditable="true"],
.right-column > h2[contenteditable="true"] {
	background-color:#fafafa;
	border: 1px solid #555555;
	padding: 2px;
	color: black;
}
.tag .title[contenteditable="true"] {
    margin: 0px 12px 0px 16px;
}

h2 {
    font-size:1.2em;
    font-variant: small-caps;
    padding: 6px 3px 3px 3px;
    margin-top:0px;
    border-image: url(/public/images/dashed-border.png) 1 1 1 1 repeat;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px dashed #555555;
}
.right-column > h2 {
    min-height:31px;
    padding-top:13px;
    vertical-align: bottom;
    font-size:1.4em;
    margin-bottom:0px !important;
}
.right-column > h2[contenteditable="true"] {
    margin-top:11px;
}
.notebook h2 .title {
	border: 1px solid transparent;
	padding:2px;
	min-width: 160px;
	display: inline-block;
}

.notebook h2 .ui-icon,
.notebook .note .ui-icon{
    display: inline-block;
    position: relative;
    top: 1px;
}
.notebook h2 .ui-icon,
 .notebook .note > .ui-icon:first-of-type{
     cursor: move;
 }
.notebook h2 .ui-icon {
    background-image: url(/public/stylesheets/noteMe-dark/images/ui-icons_222222_256x240.png);
}
.notebook .note .ui-icon {
    background-image: url(/public/stylesheets/noteMe-dark/images/ui-icons_ffffff_256x240.png);
}

.notebook:hover h2 .ui-icon{
    background-image: url(/public/stylesheets/noteMe-dark/images/ui-icons_4b8e0b_256x240.png);
}

.notebook > div {
    background: #757575 url(/public/images/bg-noise-midtone.png);
    padding:5px;
    margin:5px 10px;
    color: white;
    border-radius: 2px;
}

.notebook .note {
    padding: 3px;
    cursor: pointer;
    color: #fafafa;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.notebook .note.ui-state-highlight {
    background: #ffd43d url(/public/images/bg-lighter-15.png);
    border: none;
    border-radius: 20px;
}
.notebook .note.ui-state-active {
     background: transparent url(/public/images/bg-yelowish-25.png);
     border: none;
     border-radius: 20px;
 }
 .notebook .note.ui-sortable-helper {
     background: #acacac url(/public/images/bg-noise-midtone.png);
 }

.notebook .note:hover {
    background-image: url(/public/images/bg-lighter-15.png);
    color: white;
}

.sortable-placeholder {
    border:1px solid #d2ab33;
    background-color: #ffd43d;
    margin: 5px;
    opacity: 0.33;
}

.notebook .note .iconbar {
	text-align:right;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-10px;
	display:none;
	padding-left:3px;
	padding-right:3px;
}

.notebook .note:hover .iconbar {
	display:block;
	background-image: url(/public/images/bg-noise-midtone.png);
}


.notebook .note:hover .iconbar .ui-icon:hover, 
.notebook h2:hover .iconbar .ui-icon:hover {
	background-image: url(noteMe-dark/images/ui-icons_222222_256x240.png);
	cursor: pointer;
}

.notebook h2 .iconbar {
	text-align:right;
	margin-top:-1.4em;
	visibility:hidden;
	display:block;	
}

.notebook h2:hover .iconbar {
	visibility:visible;
}

#note-scroll {
    margin-top:48px;
    margin-bottom:132px;
}

#note {
    /*margin: 5px;*/
}

#about {
    border-image: url(/public/images/dashed-border.png) 1 1 1 1 repeat;
    border-top: 1px dashed #555555;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    height:100px;
    min-height:60px;
    max-height:75%;
}

#notetags {
    margin-top: 65px;
}

.vertical-resize {
    width:100%;
    height:4px;
    text-align: center;
    line-height:0;
    cursor: n-resize;
}
.vertical-resize span {
    background-image: url(noteMe-dark/images/ui-icons_222222_256x240.png);
    background-position: -16px -230px;
    width:16px;
    height:5px;
    display:inline-block;
	
}

.ui-dialog-titlebar {
    color: #fafafa;
}
.ui-dialog {
    box-shadow: 0px 0px 3px #acacac;
    cursor: default;
}
fieldset {
    border: 1px solid #638631;
    padding: 10px;
    border-radius: 2px;
}
fieldset legend {
    padding:5px;
}
#share-public > div {
    border: 1px dashed #638631;
}

#editor-panel {
    margin-top:5px;
    margin-bottom:5px;
}
#editor-space {
    margin-top:89px;
    padding: 5px;
    background: url(/public/images/bg-lighter-50.png);
    border-image: url(/public/images/dashed-border.png) 1 1 1 1 repeat;
    border-top: 1px dashed #555555;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    overflow:auto;
}
.nicEdit-button, .nicEdit-selectContain {
    margin:2px;
}

.note-block-wrapper {
    border: 1px solid transparent;
    position:absolute;
    padding: 12px 0px 0px;
    min-height:25px;
    min-width:100px;
    max-width:50%;
}
.section-edit .note-block-wrapper .handle {
    position: absolute;
    width: 100%;
    height: 12px;
    top:0px;
}
.section-edit .note-block-wrapper:hover,
.section-edit .note-block-wrapper.selected-editor {
    border: 1px solid #4589be;  
    box-shadow: 0px 0px 3px #757575;

}
.section-edit .note-block-wrapper:hover .handle,
.section-edit .note-block-wrapper.selected-editor .handle{
    background: url(/public/images/vertical-handle-blue.png) repeat-x left 3px;    
}

.note-block {
    padding:3px;
    min-width: 95%;
    min-height: 95%;
    height: 95%;
    cursor: default;
}

.ui-state-error {
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.ui-tooltip {
    border: 1px solid #555555;
    border-width: 1px !important;
    background: #81ae40 url(noteMe-dark/images/ui-bg_fine-grain_30_81ae40_60x60.png);
    color: #fafafa;
    max-width: 180px;
    text-align: center;
}

.ui-tooltip.ui-state-error{
    background: #ffd43d url(noteMe-dark/images/ui-bg_fine-grain_20_ffd43d_60x60.png);
    color: #2e2e2e;
}
.global-message.ui-tooltip {
    box-shadow: none;
    max-width:300px;
    border: 1px solid #c3c3c3;
    box-shadow: 0px 0px 4px #2e2e2e;
    border-style: dashed;
    margin:15px;
}
.global-message.ui-tooltip.ui-state-error {
    border-color: #ff7624;
}









.ui-adder {
    padding:5px;
}
.ui-adder-added {
    position: relative;
}
.ui-adder-added .ui-widget{
    position: relative;
    display: block;
    text-align: left;
    margin:5px 0px;
}
.ui-adder-added-scroll {
    max-height: 120px;
    min-height:40px;
    overflow: auto;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1200px) {
    .page-side-paddings {
        padding-left:10px;
        padding-right:10px;
    }
    .page-side-margins {
        margin-left: 10px;
        margin-right: 10px;
    }
    .page-side-margins-reverse {
		margin-left: -10px;
		margin-right: -10px;	
	}
    #logo {
        left:10px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}