%{
    if(_notebook!=null) {
        notebook = _notebook;
    }
}%
<div class="notebook" data-id="${notebook?.id}">
	<h2>
		<span class="ui-icon ui-icon-grip-dotted-vertical handle"></span>
		<span class="title">${notebook.name}</span>
		<span class="iconbar">
			<span class="ui-icon ui-icon-note new-note" title="Nová poznámka"></span>
			<span class="ui-icon ui-icon-link" title="Zdieľať poznámkový blok"></span>
			<span class="ui-icon ui-icon-close" title="Zmazať poznámkový blok"></span>
		</span>
	</h2>
        <div class="notes">
            #{list items:notebook.notes, as:'n'}
                #{note note: n /}
            #{/list}
	</div>
</div>
