<h2 data-id="${note.id}">${note.name}</h2>
<!--<div id="note-scroll" class="fill">-->
<div id="note" class="fill" style="overflow: auto;margin-top: 48px; margin-bottom: 132px;">
        ${note.content?.raw()}
    </div>
<!--</div>-->
<div id="about" style="color: #555555;padding:5px;position:absolute;bottom:0;right:0;left:0;">
    <div class="vertical-resize"><span></span></div>
    <div>
        <div style="float:left;" id="note-toolbar">
            <a href="@{Edit.index()}#${note.id}" id="note-edit" data-ui-icon-primary="ui-icon-pencil">Editácia</a>
            <button data-ui-icon-primary="ui-icon-link" class="sharenote-button">Zdieľanie</button>
        </div>
        <div style="float:right;text-align:right;">
            vlastník: #{if note.owner.email == session.get("username")}ja#{/if}#{elseif note.owner.name}${note.owner.name}#{/elseif}#{else}${note.owner.email}#{/else}<br>
            vytvorené: ${note.creationDate.format()}<br>
            úprava: ${note.updateDate.format()}
        </div>
        <div style="clear:both;"></div>
    </div>

    <div id="notetags" class="fill">
        #{list items:note.getOwnedTags(), as:'tag'}
            #{include 'tags/tag.html' /}
        #{/list}
    </div>
</div>