<div class="dialog" title="Zmazanie používateľského konta ${user}" id="accountdelete">
    <h2>Ste si istý, že chcete pokračovať?</h2>
    <p>Odstránením konta si znemožníte prístup k svojim poznámkam. Všetky vaše poznámky budú zmazané a túto akciu nie je možné vrátiť späť.</p>
    <div style="text-align: right;">
        #{form @AccountManager.deleteAccount()}
        <p style ="text-align: left;">Zmazanie účtu potvrďte heslom</p>
        #{authenticityToken /}
        <label for="acd-pass">Heslo:</label>
        <input type="password" id="acd-pass" name="password"><br>
        #{/form}
    </div>
</div>
