<div class="dialog" title="Zdieľanie bloku: ${notebook.name}" id="sharenotebook" data-id="${notebook.id}">
	<form>
            <fieldset>
                <legend>Zdieľať s používateľom noteMe</legend>
                <input type="hidden" name="share-with" id="share-with-hidden">
                <div class="add-multiple ui-adder">
                    #{list items:notebook.linkedNotebooks, as:'nb'}
                    <div>${nb.owner.email}</div>
                    #{/list}
                    #{list items:notebook.getLinkedTreeButDirectLinked(), as:'nb'}
                    <div data-type="read-only">${nb.owner.email}</div>
                    #{/list}
                </div>
            </fieldset>
	</form>
</div>
