<div class="dialog" title="Zdieľanie poznámky" id="sharenote">
	<form>
		<fieldset>
			<legend>Zdieľať s používateľom noteMe</legend>
            <input type="hidden" name="share-with" id="share-with-hidden">
            <div class="add-multiple ui-adder">
            </div>
		</fieldset>
		<fieldset>
			<legend>Verejné zdieľanie</legend>
			<input type="checkbox" value="public">Povoliť verejné zdieľanie
			<div id="share-public">
				<p>Verejný odkaz: </p>
				<div>http:// ...</div>
			</div>
		</fieldset>
		<!-- <div style="text-align: right;margin:10px;">
			<button class="close" data-ui-icon-primary="ui-icon-close">Zavrieť</button>
			<button data-ui-icon-primary="ui-icon-check">OK</button>
		</div> -->
	</form>

</div>