#{extends 'main.html' /}
#{set section:'manage' /}

<div id="toolbar">
    <button id="new-notebook">Nový poznámkový blok</button>
</div>
<div class="sidebar-wrapper fill">
    <div id="tag-sidebar">
    	<div class="new-tag closed">
    		<span class="ui-icon ui-icon-plus"></span>
    		<span class="title"><input type="text"></span>
    	</div>
            #{list items:user.getTags(), as:'tag'}
                #{tag tag: tag, place: "sidebar" /}
            #{/list}
    </div>
</div>
<div id="main" class="fill">
    <div id="left-column-wrapper" class="column-wrapper fill">
        <div id="left-column-scroll">
            <div class="left-column notebooks">
                #{list items:user.notebooks, as:'nb'}
                    #{notebook notebook: nb /}
                #{/list}
            </div>
        </div>
    </div>
    <div id="right-column-wrapper" class="column-wrapper fill">
        <div class="right-column">
			#{noteDetail /}
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
